/* These are some suggested groupings for your stylesheet... */


/* box sizing */


/* element styling (e.g. standard p, h1, h2, a, etc) */

/* flexible content images code */
/* code to make an image gallery learned from https://www.w3schools.com/css/css_image_gallery.asp */
div.content{
    width: 100%;
}
div.an-image {
    margin: 0;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
div.an-image:hover {
    border: 1px solid #777;
}

  div.an-image img {
    width: 100%;
    height: auto;
}
div.image-caption {
    height: 20%;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a{
    color: #A63AA4;
}
/* navigation styles */
/* learnt about styling navigation bars from https://www.w3schools.com/css/css_navbar.asp*/
.page-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DDBEA9;
    width: 15%;
    position: fixed;
    height: 100%;
}

.page-nav li a{
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
}
.page-nav li a:hover{
    background-color: #CB997E;
    color: white;
}
/* page header styles*/
.header-content{
    text-align: center;
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}
.fa-linkedin{
    background: black;
    color: white;
}
.fa-twitter{
    background: black;
    color: white;
}
.fa-facebook{
    background: black;
    color: white;
}
/* main layout */
.main-style{
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;

}



/* styling for the section content */


/* background colours for sections */
body{
    background-color: #FFF1E6;
    font-family: 'Roboto', sans-serif;
}

/* form styling */
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input:focus{
    border: 2px solid #555;
    border-radius: 4px;
}
input[type=submit]{
    background-color: #4c87af;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color:#4ca0af;
}
textarea{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
}
textarea:focus{
    border: 2px solid #555;
    border-radius: 4px;
}
/* footer styling */
footer{
    text-align: right;
}
